apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
  namespace: edu-pavel-chepik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
      - name: django
        image: ou7ro/django-site:0dbd3a8
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: postgres
              key: dsn
        - name: ALLOWED_HOSTS
          value: "edu-pavel-chepik.yc-sirius-dev.pelid.team,localhost,127.0.0.1"
        - name: PGSSLMODE
          value: "verify-full"
        - name: DJANGO_SECRET_KEY
          value: "v3c0syb6*6b*at-4v(f4#1kihrf$1#uu1o0p#24e%%w)=i&$e%"
        - name: DJANGO_DEBUG
          value: "True"
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        volumeMounts:
        - name: postgres-cert
          mountPath: /root/.postgresql
          readOnly: true
      volumes:
      - name: postgres-cert
        secret:
          secretName: postgres
          items:
          - key: root.crt
            path: root.crt